<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css" />
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
  </head>
  <body>
    <div id="content" style="padding:10px;">
      <div id="calculation-area">
        <div>
          <div>
            <span style="display: inline-block">
              <div>
                Board
              </div>
              <div>
                <select
                  v-model="selectedBoard"
                  :disabled="calculationStatus >= 1"
                >
                  <option
                    v-for="board in boards"
                    v-bind:value="board"
                    :key="board.id"
                  >
                    {{ board.name }}
                  </option>
                </select>
              </div>
            </span>

            <span
              style="display: inline-block; margin-left: 10px"
              v-if="selectedBoard"
            >
              <div>
                List
              </div>
              <div>
                <select
                  v-model="selectedList"
                  :disabled="calculationStatus >= 1"
                >
                  <option
                    v-for="list in selectedBoard.lists"
                    v-bind:value="list"
                    :key="list.id"
                  >
                    {{ list.name }}
                  </option>
                </select>
              </div>
            </span>

            <button
              :disabled="calculationStatus >= 1"
              id="addList"
              class="mod-secondary"
              @click="addList"
              style="margin-left: 10px"
            >
              Add as dependency
            </button>
          </div>
          <hr />
          <div style="text-align:center; font-size: 1.2em">
            <div v-for="(dependency, index) in dependencies">
              <div v-if="index > 0">
                ↑
              </div>
              <span
                style="margin-right: 2px; width: 34px; display: inline-block;"
                v-if="calculationStatus === 0"
              >
                <button
                  id="lowerDependency"
                  @click="lowerDependency(index)"
                  v-if="index !== dependencies.length - 1 && dependencies.length > 1"
                >
                  ↓
                </button>
              </span>
              <span
                style="margin-left: 2px; width: 120px; display: inline-block; vertical-align: middle"
                v-if="dependency.lastCalculatedDate"
              >
                <div>
                  {{ dependency.lastCalculatedDate.format(("D[.] MMMM")) }}
                </div>
                <div>
                  {{ dependency.lastCalculatedDate.format(("H:mm")) }} o'clock
                </div>
              </span>
              <div
                class="chip"
                @click="removeDependency(index)"
                style="cursor: pointer"
              >
                {{ dependency.boardName }} - {{ dependency.name }}
              </div>
              <span
                style="margin-left: 2px; width: 34px; display: inline-block;"
                v-if="calculationStatus === 0"
              >
                <button
                  id="higherDependency"
                  @click="higherDependency(index)"
                  v-if="index !== 0 && dependencies.length > 1"
                >
                  ↑
                </button>
              </span>
              <span
                style="display: inline-block; vertical-align: middle"
                v-if="index === currentRunningIndex"
              >
                <div class="loader"></div>
              </span>
              <span
                style="margin-left: 2px; width: 50px; display: inline-block;"
                v-if="dependency.lastCalculatedDate"
              >
                👌
              </span>
            </div>
          </div>
          <hr />
          <div style="display: inline-block; text-align:right; width: 100%">
            <span>
              <button
                id="execute"
                class="mod-primary"
                @click="execute"
                :disabled="calculationStatus === 1"
              >
                {{ calculationStatus === 0 ? 'Execute' : 'Close'}}
              </button>
            </span>
          </div>
        </div>
      </div>

      <script src="https://p.trellocdn.com/power-up.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://michael-roedel.github.io/smart-deadlines/public/js/jquery.min.js"></script>
      <script src="./js/rrule.js"></script>
      <script src="./js/moment.js"></script>
      <script src="./js/ical.js"></script>
      <script src="./js/calsync.js"></script>
      <script src="./js/calprocess.js"></script>

      <script>
        var t = TrelloPowerUp.iframe();

        new Vue({
          el: "#calculation-area",
          data: {
            listId: null,
            currentList: null,
            boards: [],
            selectedBoard: null,
            selectedList: null,
            dependencies: [],
            calculationStatus: 0,
            currentRunningIndex: null
          },
          mounted() {
            this.listId = t.arg("listId");
            this.listName = t.arg("listName");
            this.initData();
          },
          methods: {
            initData: async function() {
              let that = this;

              var token = await t.get("member", "private", "token");
              var member = await t.member("all");
              var key = "5db50da477d5b9033e479892f742bf8d";
              $.ajax({
                url:
                  "https://api.trello.com/1/members/" +
                  member.id +
                  "/boards?key=" +
                  key +
                  "&token=" +
                  token +
                  "&lists=open" +
                  "&filter=open",
                type: "GET",
                success: async function(result) {
                  that.boards = result;
                  console.log(that.boards);
                  var boardsToDelete = [];
                  for (i = 0; i < that.boards.length; i++) {
                    var board = that.boards[i];

                    var listsToDelete = [];
                    for (j = 0; j < board.lists.length; j++) {
                      var listTmp = board.lists[j];
                      var linkToCalTmp = await t.get(
                        "board",
                        "private",
                        listTmp.id + "isActive"
                      );
                      if (!linkToCalTmp) {
                        listsToDelete.push(j);
                      }
                    }
                    for (j = listsToDelete.length - 1; j >= 0; j--) {
                      var listToDelete = listsToDelete[j];
                      board.lists.splice(listToDelete, 1);
                    }
                    if (board.lists.length === 0) {
                      boardsToDelete.push(i);
                      continue;
                    }

                    var list = board.lists.find(
                      element => element.id === that.listId
                    );
                    if (list) {
                      that.dependencies.push({
                        id: list.id,
                        name: list.name,
                        boardName: board.name,
                        boardId: board.id,
                        lastCalculatedDate: null
                      });
                      board.lists.splice(board.lists.indexOf(list), 1);
                    }

                    if (!that.selectedList) {
                      if (list) {
                        that.selectedBoard = board;
                      }
                    }
                  }
                  for (i = boardsToDelete.length - 1; i >= 0; i--) {
                    var boardToDelete = boardsToDelete[i];
                    that.boards.splice(boardToDelete, 1);
                  }

                  that.readAllDependencies();

                  setTimeout(function() {
                    t.sizeTo("#content");
                  }, 100);
                }
              });
            },
            findListById: function(idOfList) {
              for (i = 0; i < this.boards.length; i++) {
                var board = this.boards[i];

                var list = board.lists.find(element => element.id === idOfList);
                if (list) {
                  return {
                    id: list.id,
                    name: list.name,
                    boardName: board.name,
                    boardId: board.id,
                    lastCalculatedDate: null
                  };
                }
              }
            },
            addList: function() {
              this.selectedList.boardName = this.selectedBoard.name;
              this.selectedList.boardId = this.selectedBoard.id;
              this.dependencies.push({
                id: this.selectedList.id,
                name: this.selectedList.name,
                boardName: this.selectedBoard.name,
                boardId: this.selectedBoard.id,
                lastCalculatedDate: null
              });
              setTimeout(function() {
                t.sizeTo("#content");
              }, 100);
            },
            execute: async function() {
              
              if (this.calculationStatus > 0) {
                t.closeModal();
                return;
              }

              this.calculationStatus = 1;
              var lastEndDate = moment();
              for (var i = this.dependencies.length - 1; i >= 0; i--) {
                this.currentRunningIndex = i;
                lastEndDate = await startDateCalculation(
                  t,
                  this.dependencies[i].id,
                  lastEndDate
                );
                this.dependencies[i].lastCalculatedDate = lastEndDate;
              }

              this.currentRunningIndex = null;
              this.calculationStatus = 2;
            },
            higherDependency: function(index) {
              var b = this.dependencies[index];
              Vue.set(this.dependencies, index, this.dependencies[index - 1]);
              Vue.set(this.dependencies, index - 1, b);
            },
            lowerDependency: function(index) {
              var b = this.dependencies[index];
              Vue.set(this.dependencies, index, this.dependencies[index + 1]);
              Vue.set(this.dependencies, index + 1, b);
            },
            removeDependency: function(index) {
              if (this.calculationStatus === 0) {
                this.dependencies.splice(index, 1);

                setTimeout(function() {
                  t.sizeTo("#content");
                }, 100);
              }
            },
            readAllDependencies: async function() {
              var loop = true;
              var dependencies = [];
              var currentList = this.dependencies[0];
              var counter = 0;
              while (loop) {
                if (!currentList) {
                  break;
                }
                var dependencyListId = await t.get(
                  "board",
                  "private",
                  currentList.id + "dependencyListId"
                );
                var listIsActive = await t.get(
                  "board",
                  "private",
                  currentList.id + "isActive"
                );
                if (dependencyListId && listIsActive) {
                  currentList = this.findListById(dependencyListId);
                  if (currentList) {
                    this.dependencies.push(currentList);
                  }
                } else {
                  break;
                }

                if (counter > 20) {
                  break;
                }
                counter++;
              }
            },
            closeModal() {
              t.closeModal();
            }
          }
        });
      </script>
    </div>
    <style>
      .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
      }

      .loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
        margin-left: 2px;
        display: inline-block;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </body>
</html>
