<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css" />
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
  </head>
  <body>
    <div id="content">
      <p>
        To set the due dates in your cards automatically, you need to authorize Smart Deadlines to access your Trello account! This feature is optional.
      </p>
      <button id="auth-btn" type="submit" class="mod-primary">
        Authorize access to Trello
      </button>
    </div>

    <script>
      let t = TrelloPowerUp.iframe();

      let apiKey = t.arg("apiKey");
      let isModal = t.arg("isModal");
      if (isModal) {
        document.getElementById("content").style.margin = "20px";
        document.getElementById("content").style.textAlign = "center";
      }
      let absoluteUrl = window.TrelloPowerUp.util.relativeUrl(
        "auth-success.html"
      );
      let returnUrl = encodeURI(absoluteUrl);

      let trelloAuthUrl = `https://trello.com/1/authorize?expiration=never&name=Smart%20Deadlines&scope=read,write&key=${apiKey}&callback_method=fragment&return_url=${returnUrl}`;

      let tokenLooksValid = function(token) {
        return /^[0-9a-f]{64}$/.test(token);
      };

      document.getElementById("auth-btn").addEventListener("click", function() {
        t.authorize(trelloAuthUrl, {
          height: 680,
          width: 580,
          validToken: tokenLooksValid
        })
          .then(function(token) {
            return t.set("board", "private", "token", token);
          })
          .then(function() {
            if (isModal) {
              t.closeModal();
            } else {
              t.closePopup();
            }

            return t.modal({
              url: "./setup-finish.html",
              args: { isInstructions: true },
              accentColor: "#CDD3D8",
              height: 600,
              fullscreen: false,
              title: "Configurate Smart Deadlines",
              actions: []
            });
          });
      });
    </script>
  </body>
</html>
