<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css" />
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
  </head>
  <body>
    <div id="content">
      <div id="calculation-area">
        <div class="options-tile">
          <div style="padding:20px;">
            <h3>
              Options for calculation
            </h3>
            <div>
              <label for="startDateInput" class="generic__label">
                Start date:
              </label>
              <span class="generic__label__content">
                <input
                  type="date"
                  id="startDateInput"
                  name="startDateInput"
                  placeholder="Start date"
                  class="generic__width100"
                  :disabled="calculationStatus >= 1"
                  v-model="startDateInput"
                />
              </span>
            </div>
            <hr />
            <div v-if="calculationStatus === 0">
              <span style="display: inline-block;">
                <div>
                  <select
                    v-model="selectedList"
                    :disabled="calculationStatus >= 1"
                  >
                    <option
                      v-for="list in lists"
                      v-bind:value="list"
                      :key="list.id"
                    >
                      {{ list.name }}
                    </option>
                  </select>
                </div>
              </span>
              <button
                :disabled="calculationStatus >= 1"
                id="addList"
                class="mod-secondary"
                @click="addList"
                style="margin-left: 10px; font-size: 0.9em"
              >
                Add as dependency
              </button>
              <hr />
            </div>
            <div v-if="exportServer && generalExportEnabled">
              <input
                type="checkbox"
                id="exportEnabled"
                name="exportEnabled"
                :disabled="calculationStatus === 2"
                style="margin-left: 3px"
                v-model="exportEnabled"
              />
              <span for="exportEnabled">
                Export to server after finish
              </span>
              <div v-if="exportEnabled">
                <label for="exportServerName" class="generic__label">
                  Key:
                </label>
                <span class="generic__label__content">
                  <input
                    type="text"
                    id="exportServerName"
                    name="exportServerName"
                    :disabled="calculationStatus === 2"
                    class="generic__width100"
                    v-model="exportServerName"
                  />
                </span>

                <input
                  type="text"
                  id="exportCalUrl"
                  name="exportCalUrl"
                  placeholder="Generated iCal-URL"
                  class="generic__width100"
                  :readonly="true"
                  v-model="exportCalUrl"
                />
              </div>
              <hr />
            </div>

            <div style="text-align:right; width: 100%">
              <span>
                <button
                  id="showAppointments"
                  @click="showAppointments"
                  class="mod-primary"
                  v-if="calculationStatus > 0"
                  :disabled="calculationStatus <= 1"
                  style="width: 100%"
                >
                  Show calculated appointments →
                </button>
              </span>

              <span v-if="calculationStatus === 0">
                <button id="execute" class="mod-primary" @click="execute">
                  Run
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="server-upload">
          <div class="server-upload__content">
            <div v-if="errorText" class="generic__error">
              {{ errorText }}
            </div>
            <div v-if="exportEnabled">
              <span class="chip" style="background-color: #b4d1c0">
                Upload to server
              </span>
              <span class="server-upload__content__ready" v-if="exportSuccess">
                👌
              </span>
              <div>
                ↑
              </div>
            </div>
            <div v-for="(dependency, index) in dependencies">
              <div v-if="index > 0">
                ↑
              </div>
              <span
                class="server-upload__content__ranking"
                v-if="calculationStatus === 0"
              >
                <button
                  id="lowerDependency"
                  @click="lowerDependency(index)"
                  v-if="index !== dependencies.length - 1 && dependencies.length > 1"
                >
                  ↓
                </button>
              </span>
              <span
                class="server-upload__content__last-date"
                v-if="dependency.lastCalculatedDate"
              >
                <div>
                  {{ dependency.lastCalculatedDate.format("D[.] MMM") }}
                </div>
                <div>
                  {{ dependency.lastCalculatedDate.format("H:mm") }}
                </div>
              </span>
              <div
                class="chip"
                @click="removeDependency(index)"
                style="cursor: pointer"
              >
                {{ dependency.name }}
              </div>
              <span
                class="server-upload__content__ranking"
                v-if="calculationStatus === 0"
              >
                <button
                  id="higherDependency"
                  @click="higherDependency(index)"
                  v-if="index !== 0 && dependencies.length > 1"
                >
                  ↑
                </button>
              </span>
              <span
                class="server-upload__content__loader"
                v-if="index === currentRunningIndex"
              >
                <div class="loader"></div>
              </span>
              <span
                class="server-upload__content__ready"
                v-if="dependency.lastCalculatedDate && !errorText"
              >
                👌
              </span>
              <span
                class="server-upload__content__ready"
                v-if="dependency.hasError"
              >
                ⚠
              </span>
            </div>
            <div>
              <div>
                ↑
              </div>
              <span class="chip" style="background-color: rgb(226, 206, 174)">
                Download iCal-calendar
              </span>
              <span
                class="server-upload__content__loader"
                v-if="!downloadIcsSuccess && calculationStatus === 1"
              >
                <div class="loader"></div>
              </span>
              <span
                class="server-upload__content__ready"
                v-if="downloadIcsSuccess"
              >
                👌
              </span>
            </div>
          </div>
        </div>
      </div>

      <script src="https://p.trellocdn.com/power-up.min.js"></script>
      <script src="../js/libs/vue.js"></script>
      <script src="../js/libs/axios.min.js"></script>
      <script src="../js/libs/jquery.min.js"></script>
      <script src="../js/libs/rrule.js"></script>
      <script src="../js/libs/moment.js"></script>
      <script src="../js/libs/ical.js"></script>
      <script src="../js/libs/ics.js"></script>
      <script src="../js/libs/FileSaver.min.js"></script>
      <script src="../js/libs/Blob.js"></script>
      <script src="../js/calsync.js"></script>
      <script src="../js/calprocess.js"></script>

      <script>
        var t = TrelloPowerUp.iframe();

        new Vue({
          el: "#calculation-area",
          data: {
            listId: null,
            lists: [],
            currentList: null,
            selectedList: null,
            dependencies: [],
            calculationStatus: 0,
            currentRunningIndex: null,
            totalAppointments: [],
            generalExportEnabled: false,
            exportEnabled: false,
            exportServer: null,
            exportServerKey: null,
            exportServerName: "",
            exportSuccess: false,
            exportCalUrl: "",
            startDateInput: null,
            errorText: null,
            downloadIcsSuccess: false
          },
          mounted() {
            this.startDateInput = moment().format("YYYY[-]MM[-]DD");
            this.listId = t.arg("listId");
            this.listName = t.arg("listName");
            this.initData();
          },
          methods: {
            initData: async function() {
              let that = this;

              this.generalExportEnabled = await t.get(
                "board",
                "private",
                "ownServerActive"
              );
              
              this.exportServer = await t.get(
                "board",
                "private",
                "exportServer"
              );

              if (!this.exportServer) {
                this.exportEnabled = false;
              } else {
                this.exportEnabled = await t.get(
                  "board",
                  "private",
                  "exportEnabled"
                );
              }
              this.exportServerKey = await t.get(
                "board",
                "private",
                "exportServerKey"
              );
              this.exportServerName = await t.get(
                "board",
                "private",
                "exportServerName"
              );

              var token = await t.get("board", "private", "token");
              var member = await t.member("all");
              var key = "5db50da477d5b9033e479892f742bf8d";

              this.lists = await t.lists("all");

              let listsToDelete = [];
              for (j = 0; j < this.lists.length; j++) {
                let listTmp = this.lists[j];
                let linkToCalTmp = await t.get(
                  "board",
                  "private",
                  listTmp.id + "isActive"
                );
                if (!linkToCalTmp) {
                  listsToDelete.push(j);
                }
              }
              for (j = listsToDelete.length - 1; j >= 0; j--) {
                let listToDelete = listsToDelete[j];
                this.lists.splice(listToDelete, 1);
              }

              let list = this.lists.find(element => element.id === that.listId);
              if (list) {
                that.dependencies.push({
                  id: list.id,
                  name: list.name,
                  lastCalculatedDate: null
                });
              }

              that.readAllDependencies();
            },
            exportDataAsIcs: function() {
              let appointments = [];
              for (let k = 0; k < this.totalAppointments.length; k++) {
                let appointmentData = this.totalAppointments[k];
                for (let j = 0; j < appointmentData.appointments.length; j++) {
                  appointments.push(appointmentData.appointments[j]);
                }
              }

              return calprocess().exportIcs(appointments);
            },
            showAppointments: function() {
              let appointments = [];
              for (let k = 0; k < this.totalAppointments.length; k++) {
                let appointmentData = this.totalAppointments[k];
                for (let j = 0; j < appointmentData.appointments.length; j++) {
                  appointments.push(appointmentData.appointments[j]);
                }
              }

              t.closeModal();
              t.modal({
                url: "./appointments.html",
                accentColor: "#CDD3D8",
                height: 600,
                fullscreen: false,
                title: "Appointments",
                args: { resultAppointments: appointments },
                actions: []
              });
            },
            findListById: function(idOfList) {
              let list = this.lists.find(element => element.id === idOfList);
              if (list) {
                return {
                  id: list.id,
                  name: list.name,
                  lastCalculatedDate: null
                };
              }
            },
            addList: function() {
              this.dependencies.push({
                id: this.selectedList.id,
                name: this.selectedList.name,
                lastCalculatedDate: null
              });
            },
            execute: async function() {
              let that = this;
              let startDateObject;
              if (
                !this.startDateInput ||
                moment().format("YYYY[-]MM[-]DD") === this.startDateInput
              ) {
                this.startDateInput = moment().format("YYYY[-]MM[-]DD");
                startDateObject = moment();
              } else {
                startDateObject = moment(
                  this.startDateInput,
                  "YYYY-MM-DD"
                ).startOf("day");
              }

              await t.set(
                "board",
                "private",
                "exportEnabled",
                this.exportEnabled
              );

              if (this.calculationStatus > 0) {
                t.closeModal();
                return;
              }

              this.calculationStatus = 1;

              await calsync()
                .downloadIcalCalendar(t)
                .then(async function(result) {
                  that.icsData = result;
                })
                .catch(function(error) {
                  that.errorText = error;
                  that.breakLoop = true;
                });

              if (!this.breakLoop) {
                this.downloadIcsSuccess = true;
                let lastEndDate = startDateObject;

                for (let i = this.dependencies.length - 1; i >= 0; i--) {
                  this.currentRunningIndex = i;
                  let breakLoop = false;

                  await calprocess()
                    .startDateCalculation(
                      t,
                      this.dependencies[i].id,
                      lastEndDate,
                      this.icsData
                    )
                    .then(function(calculationResult) {
                      if (calculationResult.lastEndDate) {
                        lastEndDate = calculationResult.lastEndDate;
                        for (
                          let k = 0;
                          k < calculationResult.totalAppointments.length;
                          k++
                        ) {
                          for (
                            let j = 0;
                            j <
                            calculationResult.totalAppointments[k].appointments
                              .length;
                            j++
                          ) {
                            calculationResult.totalAppointments[k].appointments[
                              j
                            ].dependencyListName = that.dependencies[i].name;
                          }
                          that.totalAppointments.push(
                            calculationResult.totalAppointments[k]
                          );
                        }
                        that.dependencies[i].lastCalculatedDate = lastEndDate;
                      }
                    })
                    .catch(function(error) {
                      console.log("error", error);
                      that.dependencies[i].hasError = true;
                      that.errorText = error;
                      that.breakLoop = true;
                    });

                  if (this.breakLoop) {
                    break;
                  }
                }
              }

              if (this.exportEnabled && !this.errorText) {
                let cal = this.exportDataAsIcs();

                await calprocess()
                  .uploadIcsData(
                    t, 
                    cal,
                    this.exportServer,
                    this.exportServerKey,
                    this.exportServerName
                  )
                  .then(function(response) {
                    that.exportSuccess = true;
                    that.exportCalUrl = response;
                  })
                  .catch(function(error) {
                    that.errorText = error;
                  });
              }

              if (this.errorText) {
                this.calculationStatus = 0;
              } else {
                this.calculationStatus = 2;
              }
              this.currentRunningIndex = null;
            },
            higherDependency: function(index) {
              let b = this.dependencies[index];
              Vue.set(this.dependencies, index, this.dependencies[index - 1]);
              Vue.set(this.dependencies, index - 1, b);
            },
            lowerDependency: function(index) {
              let b = this.dependencies[index];
              Vue.set(this.dependencies, index, this.dependencies[index + 1]);
              Vue.set(this.dependencies, index + 1, b);
            },
            removeDependency: function(index) {
              if (
                this.calculationStatus === 0 &&
                this.dependencies.length > 1
              ) {
                this.dependencies.splice(index, 1);
              }
            },
            readAllDependencies: async function() {
              let loop = true;
              let currentList = this.dependencies[0];
              let counter = 0;
              while (loop) {
                if (!currentList) {
                  break;
                }
                let dependencyListId = await t.get(
                  "board",
                  "private",
                  currentList.id + "dependencyListId"
                );
                let listIsActive = await t.get(
                  "board",
                  "private",
                  currentList.id + "isActive"
                );
                if (dependencyListId && listIsActive) {
                  currentList = this.findListById(dependencyListId);
                  if (currentList) {
                    this.dependencies.push(currentList);
                  }
                } else {
                  break;
                }

                if (counter > 20) {
                  break;
                }
                counter++;
              }
            },
            closeModal() {
              t.closeModal();
            }
          }
        });
      </script>
    </div>
    <style>
      .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
      }

      .loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
        margin-left: 2px;
        display: inline-block;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .generic__label {
        float: left;
        margin-right: 5px;
      }

      .generic__label__content {
        display: block;
        overflow: hidden;
      }

      .generic__width100 {
        width: 100%;
      }

      .server-upload {
        float: right;
        width: 60%;
        overflow: auto;
        height: 100%;
        background-color: #d8dfe6;
      }

      .server-upload__content {
        text-align: center;
        font-size: 1.2em;
        padding: 10px;
        margin-top: 10px;
      }

      .server-upload__content__ready {
        margin-left: 2px;
        width: 50px;
        display: inline-block;
      }

      .server-upload__content__last-date {
        margin-left: 2px;
        width: 75px;
        display: inline-block;
        vertical-align: middle;
      }

      .server-upload__content__ranking {
        margin-right: 2px;
        width: 34px;
        display: inline-block;
      }

      .server-upload__content__loader {
        display: inline-block;
        vertical-align: middle;
      }

      .options-tile {
        float: left;
        width: 40%;
      }

      .generic__error {
        margin-bottom: 15px;
        background-color: #e9c2c2;
        padding: 5px;
      }
    </style>
  </body>
</html>
