<html>
<head>
  <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css" />
  <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body style="overflow: hidden">
<div id="settings-area">
  <div id="content">
    <div id="settings">
      <div>
        <input
            type="checkbox"
            id="listSettingsActive"
            name="listSettingsActive"
            style="margin-left: 3px"
            v-model="listSettingsActive"
        />
        <h4 for="listSettingsActive" style="display: inline">
          Overwrite global settings
        </h4>
      </div>
      <p>Distribute over several appointments:</p>
      <input
              type="checkbox"
              id="isContinuous"
              name="isContinuous"
              style="margin-left: 3px"
              v-model="isContinuous"
              :disabled="!listSettingsActive"
      />
      <p>Only appointments containing this title:</p>
      <input
              type="text"
              id="patternToUse"
              v-model="patternToUse"
              :disabled="!listSettingsActive"
      />
      <small>Empty uses all events.</small>
      <div>
        <hr />
        <h4>
          Set dependency
        </h4>
        <div>
          <div>
            <div>
              List
            </div>
            <div>
              <div >
                <select v-model="selectedList">
                  <option
                          v-for="list in lists"
                          v-bind:value="list"
                          :key="list.id"
                  >
                    {{ list.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>
        <button
                id="save"
                class="mod-primary"
                style="width:100%"
                @click="saveData"
        >
          Save
        </button>
      </p>
      <div style="text-align:center">
        <a href @click="deactivateList">
          Deactivate SD for list
        </a>
      </div>
    </div>
  </div>
</div>

<script src="https://p.trellocdn.com/power-up.min.js"></script>
<script src="../js/libs/vue.js"></script>
<script src="../js/libs/axios.min.js"></script>
<script src="../js/libs/jquery.min.js"></script>
<script>
  var t = TrelloPowerUp.iframe();

  new Vue({
    el: "#settings-area",
    data: {
      lists: [],
      selectedList: null,
      listId: null,
      linkToCal: null,
      isContinuous: true,
      patternToUse: "",
      listSettingsActive: false,
      exportServer: null,
      exportServerKey: null
    },
    mounted() {
      this.listId = t.arg("listId");
      this.listName = t.arg("listName");
      this.initData();
    },
    methods: {
      initData: async function() {
        this.isContinuous = await t.get(
                "board",
                "private",
                this.listId + "isContinuous"
        );
        if (this.isContinuous === undefined) {
          this.isContinuous = true;
        }

        this.patternToUse = await t.get(
                "board",
                "private",
                this.listId + "patternToUse"
        );

        this.listSettingsActive = await t.get(
                "board",
                "private",
                this.listId + "listSettingsActive"
        );

        let selectedListId = await t.get(
                "board",
                "private",
                this.listId + "dependencyListId"
        );

        let token = await t.get("member", "private", "token");
        let member = await t.member("all");
        let key = "5db50da477d5b9033e479892f742bf8d";

        this.listsInternal = await t.lists('all');

        this.lists.push({
          id: null,
          name: "-"
        });

        for (j = 0; j < this.listsInternal.length; j++) {
          this.lists.push(this.listsInternal[j]);
        }

        let listsToDelete = [];
        for (j = 1; j < this.lists.length; j++) {
          let listTmp = this.lists[j];
          let isActiveTmp = await t.get(
                  "board",
                  "private",
                  listTmp.id + "isActive"
          );
          if (!isActiveTmp) {
            listsToDelete.push(j);
          }
        }
        for (j = listsToDelete.length - 1; j >= 0; j--) {
          var listToDelete = listsToDelete[j];
          this.lists.splice(listToDelete, 1);
        }

        let list = this.lists.find(
                element => element.id === this.listId
        );
        this.lists.splice(this.lists.indexOf(list), 1);
        
        if (selectedListId) {
          let listSelected = this.lists.find(
             element => element.id === selectedListId
          );
          this.selectedList = listSelected;
        }
      },
      deactivateList: async function() {
        await t.remove("board", "private", this.listId + "isActive");
        return t.closePopup();
      },
      saveData: async function() {
        await t.set(
                "board",
                "private",
                this.listId + "isContinuous",
                this.isContinuous
        );
        await t.set(
                "board",
                "private",
                this.listId + "patternToUse",
                this.patternToUse
        );
        await t.set(
                "board",
                "private",
                this.listId + "listSettingsActive",
                this.listSettingsActive
        );
        await t.set(
                "board",
                "private",
                this.listId + "dependencyListId",
                this.selectedList && this.selectedList.id
                        ? this.selectedList.id
                        : null
        );

        this.closePopup();
      },
      closePopup() {
        t.closePopup();
      }
    }
  });
</script>

<style></style>
</body>
</html>
