<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="/smart-deadlines/public/js/moment.js"></script>
    <script src="/smart-deadlines/public/js/rrule.js"></script>
    <script src="/smart-deadlines/public/js/ical.js"></script>
    <script src="/smart-deadlines/public/js/calsync.js"></script>
    <script src="/smart-deadlines/public/js/calprocess.js"></script>
    <script src="/smart-deadlines/public/js/client.js"></script>

</head>
<body>
<div class="wrapper">
    <section>
        {{ content }}
    </section>
</div>
</body>
</html>